<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
  <ion-toolbar >
    <ion-title>Explore Recipes</ion-title>
    <ion-list  slot="end" lines="none">
      <ion-item class="filter">
        <ion-select (ionChange)="handleChange($event)" aria-label="Fruit" interface="popover" placeholder="Filter">
          <ion-select-option value="Beginner">Beginner</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="Chef">Chef</ion-select-option>
          <ion-select-option value="all">All</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true">
  <ion-list lines="none">
    <app-recipe-element *ngFor="let recipe of recipes" [recipe]="recipe" [routerLink]="['/', 'recipes', 'tabs', 'explore', recipe.id]"></app-recipe-element>
  </ion-list>
</ion-content>

