ion-title {
  font-family: "Platypi", serif;
  font-size: 1.5rem;
}

ion-toolbar {
  padding-top: 3rem !important; 
}

.filter {
  border: 1px solid var(--ion-color-primary);
  border-radius: 40px;
  margin-right: 12px;
  font-size: small;
  height: 2.2rem;
  display: flex;
  align-items: center;
}

app-recipe-element {
  width: 100%;
}





