ion-card-subtitle > p {
  display: inline-flex;
  align-items: center;
  background-color: rgba(var(--ion-color-primary-rgb), 0.7);
  border-radius: 10px;
  padding: 0 0.5rem;
  color: var(--ion-color-tertiary);
  margin: 0;
}

ion-toolbar {
  padding-top: 3rem !important; 
}

h2, h4 {
  font-family: "Platypi", serif;
}

h2 {
  text-align: center;
}

ion-card-subtitle {

  text-align: center;
}

.recipe-container {
  padding: 0 16px;
}

ion-fab-button {
  --box-shadow: none;
}
