<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/recipes/tabs/explore" color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-text-center" *ngIf="isLoading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content [fullscreen]="true" *ngIf="!isLoading">
<!--  <img alt="Recipe image" src="{{recipe.imageURL}}" />-->

  <div class="recipe-container">
    <h2>{{recipe.title}}</h2>
    <ion-card-subtitle>difficulty: <p>{{recipe.difficulty}}</p></ion-card-subtitle>
    <p>{{recipe.description}}</p>

    <h4>Ingredients</h4>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>

    <h4>Instructions</h4>
    <ol>
      <li *ngFor="let step of recipe.instructions.split('. ')">{{step}}</li>
    </ol>
  </div>

</ion-content>
