<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text>Don't have an account? <span class="link" [routerLink]="['/', 'register']">Create an Account</span></ion-text>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" label="Username" label-placement="stacked" placeholder="Enter your username" formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
        <ion-col>
          <p class="input-error">Username is required.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="password" label="Password" label-placement="stacked" placeholder="Enter your password" formControlName="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <ion-col>
          <p class="input-error">Password is required.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="!loginForm.valid" shape="round" expand="block">Log In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
