ion-title {
    font-family: "Platypi", serif;
    font-size: 2rem;
    padding-top: 3rem;
  }

  ion-button {
    --box-shadow: 0;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    margin-top: 2rem;
    --color: var(--ion-color-light);
  }

  ion-item {
    margin-right: 16px;
  }

  ion-text {
    margin: 1rem 4px;
    color: var(--ion-color-medium);
  }

  span {
    color: var(--ion-color-success);
    text-decoration: underline;
  }

  .input-error {
    margin: 0 16px;
    font-size: small;
    color: var(--ion-color-danger);
  }

  .link {
    cursor: pointer;
  }

