<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/recipes/tabs/profile" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>My Recipes</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true">
  <ion-list lines="none">
    <app-my-recipe-element *ngFor="let recipe of myRecipes" [recipe]="recipe" [routerLink]="['/', 'recipes', 'tabs', 'explore', recipe.id]"></app-my-recipe-element>
  </ion-list>
</ion-content>
