.add-recipe-button {
  --box-shadow: 0;
  --color: var(--ion-color-light);
}

ion-title {
  font-family: "Platypi", serif;
  font-size: 1.5rem;
}

ion-toolbar {
  padding-top: 3rem !important; 
}

.ingredients-title {
  font-family: "Platypi", serif;
  font-size: 1.1rem;
  margin-left: 20px;
}

.image-title {
  font-family: "Platypi", serif;
  font-size: 1.1rem;
  margin-right: auto;
}

.ingredients-listed {
  margin-top: 1.5rem;
}

.add-button {
  --box-shadow:none;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.remove-button {
  --box-shadow:none;
}

.recipe-image {
  max-height: 12rem; 
  object-fit: cover;
  padding: 2rem 0;
}

