ion-card {
  border-radius: 25px;
}

ion-card-subtitle > p {
  display: inline-flex;
  align-items: center;
  background-color: rgba(var(--ion-color-primary-rgb), 0.7);
  border-radius: 10px;
  padding: 0 0.5rem;
  color: var(--ion-color-tertiary);
  margin: 0;
}
