<ion-header [translucent]="true" class="ion-no-border" collapse="fade">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <div>
    <ion-row class="ion-justify-content-center">
      <ion-col class="profile-info">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  class="profile-info">
        <ion-text>{{ user?.username }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-list lines="full">
          <ion-item routerLink="favourites">
            <ion-icon name="heart-outline" color="success"></ion-icon>
            Favourite Recipes
          </ion-item>
          <ion-item routerLink="my-recipes">
            <ion-icon name="book-outline" color="success"></ion-icon>
            My Recipes
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button expand="block" shape="round" (click)="logOut()">
          Log Out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
